#root {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 2rem;
  text-align: center; */
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Align each column of my table */
td {
    text-align: center;
    padding: 0.5rem;
}

.container-list-citas {
    margin-top: 50px;
}
